@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,900');

* {
  margin: 0;
  padding: 0;
  border: none;
}

a, .page-link {
    color: #04818c;
    text-decoration: none;
    font-weight: 700;
  letter-spacing: 1px;
}

.nav-link{
    color: #04818c;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}

body, h1,h2,h3,h4,h5,h6,p,a,ul,li,span,div {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3{

  text-transform: uppercase;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.showcase .showcase-img {
  min-height: 30rem;
}

/* Sections */
.section-header{
  height: 100vh;
  max-height: 600px;
  padding: 35px;
}

/* Containers */
.content-container-header {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 100%; /* specify the height of the section */
  text-align: center;
}
/* Aesthetics */
.top-section{
    background: linear-gradient(135deg, #ffffff 0%, #00454b94 100%);

}
.section-header h1{
  font-size: 200px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #272727;
  text-shadow: 0 20px 40px rgba(0,0,0,.5);
}

.section-header h3{
  color: #00454b;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 7px;
}

/* Responsive */
/* Extra small devices (phones) */
@media (max-width: 575.98px) {
.section-header h1 {
  font-size: 50px; /* Adjust font size for smaller screens */
}

.section-header h3 {
  font-size: 14px; /* Adjust font size for smaller screens */
}

.section-header{
    max-height: 400px;
}
}

/* Small devices (tablets) @media (min-width: 576px) and (max-width: 767.98px) */
/* Medium devices (tablets, desktops and tablets) */
@media (min-width: 576px) and (max-width: 991.98px) {
.section-header h1 {
  font-size: 100px; /* Adjust font size for smaller screens */
}

.section-header h3 {
  font-size: 18px; /* Adjust font size for smaller screens */
}
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
.section-header h1 {
  font-size: 150px; /* Adjust font size for smaller screens */
}

}


/* Icons */
.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: blue;
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: white;
  background: blue;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

/* Work Gallery */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 250px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  background: darkblue;
}

.image-gallery {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 100%;
  width: 100%;
  /*margin: 10px;*/
}

.flip-card-back-body {
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Testimonials */
.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.card{
    box-shadow: -3px 5px 22.3px 0px rgba(0,0,0,0.2);
    border-color: transparent;
    border-radius: 20px;
}


.dark-card{
  background: #333;
  color: white;
}

.dark-card .card-source-text{
  color: lightgray;
}

/* Other */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
