:root {
  --color-black: #282C34;
  --color-secondary: #5170FF;
  --color-accent: #C19707;
  --color-background: #FAFFFC;
  --bs-body-bg: #FAFFFC;
  --bs-body-color: #282C34;
  --bs-primary: #5170FF;
  --bs-link-color: #5170FF;
  --bs-link-hover-color: #C19707;
}

body {
  margin: 0;
  background-color: #FAFFFC;
  color: #282C34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
